<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="StudentBen" class="com.qiji.pojo.Student"></bean>

    <bean id="StudentBean1" class="com.qiji.pojo.Student">
<!--        setter注入,使用property标签-->
        <property name="stuId" value="1"></property>
        <property name="stuName" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
    </bean>
    <!-- 构造器注入，使用constructor-arg关键字
    <bean id="studentBean2" class="com.qiji.pojo.Student">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="李四"></constructor-arg>
        <constructor-arg value="30"></constructor-arg>
        <constructor-arg value="女"></constructor-arg>
    </bean>
    -->
<!--  setter注入,为类类型的属性赋值 方式一：引用外部Bean -->
    <bean id="studentBean3" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="王五"></property>
        <property name="age" value="30"></property>
        <property name="sex" value="女"></property>
        <property name="clazz" ref="clazzBean1"></property>
    </bean>
    <bean id="clazzBean1" class="com.qiji.pojo.Clazz">
        <constructor-arg value="1001"></constructor-arg>
        <constructor-arg value="三年二班"></constructor-arg>
    </bean>

    <!--  setter注入,为类类型的属性赋值 方式二：级联 -->
    <bean id="studentBean4" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="王五"></property>
        <property name="age" value="30"></property>
        <property name="sex" value="女"></property>
<!--        级联的方式必须要先为类类型先赋值，然后再用点值法赋值-->
        <property name="clazz" ref="clazzBean1"></property>
        <property name="clazz.cId" value="1002"></property>
        <property name="clazz.cName" value="火箭班"></property>
    </bean>
</beans>