<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="StudentBen" class="com.qiji.pojo.Student"></bean>

    <bean id="StudentBean1" class="com.qiji.pojo.Student">
        <!--        setter注入,使用property标签-->
        <property name="stuId" value="1"></property>
        <property name="stuName" value="张三"></property>
        <property name="age" value="23"></property>
        <property name="sex" value="男"></property>
    </bean>
    <!-- 构造器注入，使用constructor-arg关键字
    <bean id="studentBean2" class="com.qiji.pojo.Student">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="李四"></constructor-arg>
        <constructor-arg value="30"></constructor-arg>
        <constructor-arg value="女"></constructor-arg>
    </bean>
    -->
    <!--  setter注入,为类类型的属性赋值 方式一：引用外部Bean -->
    <bean id="studentBean3" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="王五"></property>
        <property name="age" value="30"></property>
        <property name="sex" value="女"></property>
        <property name="clazz" ref="clazzBean1"></property>
    </bean>
    <bean id="clazzBean1" class="com.qiji.pojo.Clazz">
        <constructor-arg value="1001"></constructor-arg>
        <constructor-arg value="三年二班"></constructor-arg>
    </bean>

    <!--  setter注入,为类类型的属性赋值 方式二：级联 -->
    <bean id="studentBean4" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="王五"></property>
        <property name="age" value="30"></property>
        <property name="sex" value="女"></property>
        <!--        级联的方式必须要先为类类型先赋值，然后再用点值法赋值-->
        <property name="clazz" ref="clazzBean1"></property>
        <property name="clazz.cId" value="1002"></property>
        <property name="clazz.cName" value="火箭班"></property>
    </bean>

    <!--  setter注入,为类类型的属性赋值 方式三：内部Bean -->
    <bean id="studentBean5" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="王五"></property>
        <property name="age" value="30"></property>
        <property name="sex" value="女"></property>

        <property name="clazz">
            <bean id="clazzBean2" class="com.qiji.pojo.Clazz">
                <property name="cId" value="1003"></property>
                <property name="cName" value="飞黄腾达班"></property>
            </bean>
        </property>
    </bean>

    <!--  setter注入,为数组类型的属性赋值-->
    <bean id="studentBean6" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="赵六"></property>
        <property name="age" value="40"></property>
        <property name="sex" value="女"></property>
        <property name="hobby">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="clazz" ref="clazzBean3"></property>
    </bean>
    <bean id="clazzBean3" class="com.qiji.pojo.Clazz">
        <constructor-arg value="1004"></constructor-arg>
        <constructor-arg value="远大前程"></constructor-arg>
    </bean>

    <!--    依赖注入之为list集合类型属性赋值，方式一：内部使用list标签-->
    <bean id="clazzBean4" class="com.qiji.pojo.Clazz">
        <constructor-arg value="1005"></constructor-arg>
        <constructor-arg value="卓越班"></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="StudentBean1"></ref>
                <ref bean="studentBean3"></ref>
                <ref bean="studentBean4"></ref>
                <ref bean="studentBean5"></ref>
                <ref bean="studentBean6"></ref>
            </list>
        </constructor-arg>
    </bean>

    <!--    依赖注入之为list集合类型属性赋值，方式二：外部使用util：list的约束-->
    <bean id="clazzBean5" class="com.qiji.pojo.Clazz">
        <constructor-arg value="1005"></constructor-arg>
        <constructor-arg value="卓越班"></constructor-arg>
        <constructor-arg ref="studentList"></constructor-arg>
    </bean>
    <util:list id="studentList">
        <ref bean="studentBean6"></ref>
        <ref bean="studentBean5"></ref>
        <ref bean="studentBean4"></ref>
    </util:list>

    <!--    依赖注入之为map集合类型属性赋值，方式一：内部使用map标签-->
    <bean id="studentBean7" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="赵六"></property>
        <property name="age" value="40"></property>
        <property name="sex" value="女"></property>
        <property name="hobby">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="clazz" ref="clazzBean3"></property>
        <property name="teacherMap">
            <map>
                <entry>
                    <key>
                        <value>00001</value>
                    </key>
                    <ref bean="teacherOne"></ref>
                </entry>
                <entry>
                    <key>
                        <value>00002</value>
                    </key>
                    <ref bean="teacherTwo"></ref>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="teacherOne" class="com.qiji.pojo.Teacher">
        <property name="tId" value="00001"></property>
        <property name="tName" value="赵老师"></property>
    </bean>
    <bean id="teacherTwo" class="com.qiji.pojo.Teacher">
        <property name="tId" value="00002"></property>
        <property name="tName" value="王老师"></property>
    </bean>

    <!--    依赖注入之为map集合类型属性赋值，方式二：使用util:map约束-->
    <bean id="studentBean8" class="com.qiji.pojo.Student">
        <property name="stuId" value="3"></property>
        <property name="stuName" value="赵六"></property>
        <property name="age" value="40"></property>
        <property name="sex" value="女"></property>
        <property name="hobby">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="clazz" ref="clazzBean3"></property>
        <property name="teacherMap" ref="teacherMap">

        </property>
    </bean>
    <util:map id="teacherMap">
        <entry>
            <key>
                <value>00003</value>
            </key>
            <ref bean="teacherOne"></ref>
        </entry>
        <entry>
            <key>
                <value>00004</value>
            </key>
            <ref bean="teacherTwo"></ref>
        </entry>
    </util:map>
</beans>